/* General */
$primary-color: #11065e;
$secondary-color: #17c1ce;
$disable-color: #d3e3ed;
$positive-color: #00a63c;
$positive-color-light: #11caa1;
$negative-color: #fa003e;
$negative-color-light: #ff8e8e;
